.flex-container{
  display: flex;
  flex-flow: row wrap;

  // Following also does the row wrap
  // flex-wrap: wrap;

  justify-content: space-around;
}

.flex-item {
  width: 200px;
  height: 150px;

  background: cyan;
  color: black;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  line-height: 15px;
}
